.container {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.option {
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 12px;

    &--active {
        background-color: bisque;
        border-radius: var(--border-radius);
    }
}