.container {
    height: 300px;
    width: 500px;
}

.option {
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 12px;

    &--active {
        background-color: bisque;
        // border-radius: var(--border-radius); // I wanted to make it a bit rounded but with scroll it looks extremely ugly
    }
}